*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: arial, sans-serif;

}
body{
    overflow-x:hidden;
    background:#f5f5f5;
    color:#222;

}
.container{
    margin:auto;
    gap: 100px;

}
section{
    padding: 35px 100px 60px;
    scroll-margin-top: 80px;
    
}
section h2{
    font-size: 40px;
    margin-bottom:35px;
    text-align:left;
    color:#1e3a5f;
}
section p{
    font-size: 18px;
    line-height: 1.7;
    color:#555;

}

.divider{
    height:1px;
    background-color:rgba(0,0,0,0.08);
    margin:8px 0;
}

/* navbar  */


.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 45px;
    background-color:rgb(7, 32, 77);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


.logo{
    color:white;
    font-size:30px;
    font-weight:bold;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:40px;
}

.nav-links a{
    text-decoration:none;
    color:rgb(216,223,229);
    font-size:18px;
    transition:0.3s;
    font-family: 'poppins', sans-serif;
}

.nav-links a:hover{
    color:rgb(135, 137, 244);
}

/*left side*/

#home{
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding: 120px 150px;
    gap: 70px;

}
.home-text h1{
    font-size:clamp(40px, 8vw, 90px);
    color:#131337;
    margin-bottom:5px;
    margin-top:50px;
}

.home-text h3{
    font-size: 35px;
    color:#555;
    margin-bottom:15px;
    font-weight:normal;
}

.home-text p{
    font-size: 20px;
    max-width:500px;
    line-height:1.6;
    color: #131337;
    margin-top: 30px;
    font-weight: 700px;
}

#home-buttons{
    margin-top: 50px;
}

.social-icons{
    margin-top: 60px;
    display: flex;
    gap: 20px;
}

.social-icons a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #88919f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    transition: .3s;
}

.social-icons a:hover{
    transform: translateY(-5px);
    background: #324d79;
}

/*right side*/

.profile img{

    width: 340px;
    height: 340px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #131337;
    margin-top:50px;
    object-position: 80% 45%;
    transform: scale(1.1);
}
#about{
   
    align-items:center;
}
.about-container{
    gap: 100px;
    padding: 20px;
    margin:auto;
    margin-top:25px;
}

#about h2{
    font-size: 60px;
    color:#142955;
    margin-bottom:2px;
    margin-top:0;
}
#about h3{
    font-size:28px;
}
#about label{
    font-size:40px;
    color:#e6c36a;
}

#about h4{
    font-size:28px;
    color:#1e3a5f;
    margin-bottom:5px;
    margin-top:30px;
    display:flex;
}
#about a{ 
    color:rgb(117, 138, 175);
    font-style:italic;
    margin-bottom:50px;
    font-size:18px;
    text-decoration:none;
}
#about p{
    font-size:18px;
    line-height:1.6;
    color:#151414;
    padding-top:15px;
    margin-top:15px;
    margin-bottom:20px;

}
.resume-btn{

   float:right;

   margin-top:0px;

   padding:15px 35px;

   background:#1e3a5f;

   color:rgb(227, 217, 217);

   text-decoration:none;

   border-radius:10px;

   font-size:22px;

   position:absolute;

   right: 200px;

   margin-top:-100px;
}
.resume-btn:hover{

   background:#606c86;
}

html{
    scroll-behavior:smooth;
}

/* skills section */

/* #skills  h2{
    font-size: 50px;
    color: #142955;
    margin-bottom: 50px;

}

.skill-category{
    margin-bottom: 50px;
}

.skill-category h3{
    font-size: 28px;
    color: #1e3a5f;
    margin-bottom: 20px;
}

.skill-list{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.skill-list  span{
    padding: 12px 22px;
    border: 2px solid #1e3a5f;
    border-radius: 30px;
    color: #1e3a5f;
    font-size: 17px;
    font-weight: 500;
    transition: .3s;
}

.skill-list span:hover{
    background-color: #1e3a5f;
    color: white;
    transform: translateY(-4px);
} */
/*==========================
        Skills
===========================*/

/* #skills h2{
    font-size:50px;
    color:#142955;
    margin-bottom:60px;
}

.skill-category{
    margin-bottom:50px;
}

.skill-category h3{

    font-size:28px;

    color:#1e3a5f;

    margin-bottom:22px;

    font-weight:600;
}

.skill-list{

    display:flex;

    flex-wrap:wrap;

    gap:18px;
}

.skill-list span{

    display:flex;

    align-items:center;

    gap:10px;

    padding:14px 22px;

    background:white;

    border:2px solid #1e3a5f;

    border-radius:40px;

    font-size:17px;

    color:#1e3a5f;

    font-weight:500;

    transition:.3s ease;

    cursor:pointer;
}

.skill-list span:hover{

    background:#1e3a5f;

    color:white;

    transform:translateY(-5px);

    box-shadow:0 8px 18px rgba(0,0,0,.18);
}

.skill-list i{

    font-size:20px;
} */

/*========== Skills ==========*/
#skills{
    padding-top: 10px ;
}

#skills h2{
    font-size:50px;
    color:#142955;
    margin-bottom:50px;
    text-align: center;

}

.skills-grid{
    display:grid;
    grid-template-columns:repeat(2, minmax(320px, 450px));
    gap: 25px 30px;
    justify-content: center;

}

.skill-card{

    background:#fff;

    padding: 30px;

    border-radius:15px;

    border-left: 5px solid transparent;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    transition:.3s;
}

.skill-card:hover{

    transform:translateY(-5px);

    box-shadow:0 15px 25px rgba(0,0,0,.12);

    border-left: 5px solid #1e3a5f;
}

.skill-card h3{

    font-size:30px;

    color:#1e3a5f;

    margin-bottom:18px;

    padding-bottom: 12px;

    border-bottom: 2px solid #eef2f7;
}

.skill-card ul{

    list-style:none;
}

.skill-card li{

    display:flex;

    align-items:center;

    gap:15px;

    margin: 12px 0;

    margin-bottom:18px;

    font-size:20px;

    color:#444;
}

.skill-card i{

    color:#1e3a5f;

    font-size:22px;

    width:25px;
}

.fa-html5{
    color:#E34F26;
}

.fa-css3-alt{
    color:#1572B6;
}

.fa-js{
    color:#F7DF1E;
}

.fa-python{
    color:#3776AB;
}

.fa-java{
    color:#f89820;
}

#skills .fa-github{
    color:#181717;
}

.fa-git-alt{
    color:#F05032;
}

.fa-database{
    color:#4DB33D;
}

.fa-code{
    color:#007ACC;
}

.fa-palette{
    color:#8E44AD;
}

.tools ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 40px;
}

/* certification section */


#certifications h2{
    font-size:45px;
    color:#142955;
}
.certification-item{
    margin-bottom:70px;
    padding-left:25px;
    border-left:4px solid #1e3a5f;
}
.certification-item h3{
    font-size:25px;
    margin-bottom:15px;
    color:#1e3a5f;
}
.certification-item p{
    font-size:15px;
    line-height:1.8;
    color:#243348;

}
.cert-link{

    display:inline-block;
    margin-top:15px;
    text-decoration:none;
    color:#6a798c;
    font-size:18px;
    font-weight:600;
}
.cert-link:hover{

   color:#515d77;
}


/* contact section */


.contact-menu{
    position: relative;
    list-style: none;
}

#contact{
    
    align-items:center;
}

#contactBtn{
    background:none;
    border:none;

    color:rgb(216, 223, 229);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
    font-family: 'Poppins' , sans-serif;
    position: relative;
    top: 1px;

    padding: 0;
    margin: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    gap: 6px;
}

#contactBtn:hover{
    color:rgb(135, 137, 244);


}
.dropdown{
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    width: 280px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.18);
    border: 1px solid #dbe5f0;
    overflow: hidden;
    z-index: 1000;
}
.dropdown a{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 20px;
    color:#1e3a5f;
    text-decoration: none;
    font-size: 16px;
    transition: .3s;

}

.dropdown a:hover{
    background: #eef4ff;
    
}

.dropdown i{
    width: 22px;
    font-size: 18px;
    color: #1e3a5f;
}

.dropdown.show{
    display: block;
}


.contact-info{
    display: flex;
    flex-direction: column;
    gap:25px;
}
#contact h2{
    font-size:50px;
    color:#142955;
}
.contact-info p{
    font-size: 28px;
    margin-bottom: 25px;
    display:flex;
    align-items:center;
    gap: 20px;
}
.contact-info i{
    font-size:45px;
    color:#142955;
}


/* Projects Section */

#projects {
    padding: 8px 120px;
}


#projects h2{
    font-size:50px;
    color:#142955;
}

/* project layout */

.project-item{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 120px;
}

/* second project reverse */

.project-item.reverse{
    flex-direction:row-reverse;
}

/* image */
.project-image{
    width: 48%;
    flex: 0 0 52%;
}

.project-image img{
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain;

    border-radius: 12px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: .3s;

}

.project-image img:hover{
    transform: scale(1.03);
}

/* details */

.project-details{
    width: 52%;
    flex: 0 0 48%;
}

.project-number{
    font-size: 18px;
    color:#6a798c;
    letter-spacing: 4px;
    font-weight: 700;

}

.project-item h3{
    font-size: 32px;
    color:#1e3a5f;
    margin:15px 0 25px;
}

.project-details h4{
    font-size: 22px;
    color:#1e3a5f;
    margin-top: 20px;
}

.project-details ul{
    padding-left:20px;
}

.project-details li{
    font-size: 16px;
    line-height: 1.6;
    color:#243348;
}

/* tech stack */

.tech-stack span{
    display: inline-block;
    padding: 8px 15px;
    background: #1e3a5f;
    margin:5px;
    color:white;
    border-radius: 20px;
    font-size: 15px;

}

/* links */

.project-links{

    margin-top: 20px;
    text-align:center
}

.project-links a{

    width: 180px;
    text-align: center;

    display:inline-block;
    background: #1e3a5f;
    color: white;
    text-decoration: none;

    padding:12px 22px;
    border-radius: 8px;

    margin-right: 10px;
    font-size: 16px;

    transition: 0.3s ease;
}
.project-links a:hover{
    background: #606c86;
    transform: translateY(-3px);
    box-shadow: 0 5px 12px rgba(0,0,0,0.2);
}

/* image open */

.image-modal{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content{
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.close{
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

/* mobile */

@media(max-width:768px){
    .project-item,
    .project-item.reverse{
        flex-direction: column;

    }

    .project-item img,
    .project-details{
        width:100%;
    }
}


/* responsive design */

@media (max-width:992px){


}


@media (max-width:768px){

    #home,
    #about,
    #skills,
    #projects,
    #certifications,
    #contact{
        scroll-margin-top: 80px;
    }

    .divider{
        display: none;
    }

    /* Home Section */

    #home{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 90px 30px 60px;
        gap: 40px;
    }
    .home-text{
        width: 100%;
    }
    .home-text h1{
        font-size: 50px;
        margin-top: 0;
    }
    .home-text h3{
        font-size: 24px;
    }
    .home-text p{
        max-width: 100%;
        font-size: 18px;
        margin: 25px auto;    
    }
    .profile img{
        width: 220px;
        height: 220px;
        margin-top: 0;
    }
    .social-icons{
        justify-content: center;
        display: flex;
        gap: 20px;

    }

    /* About Section */

    #about {
        padding: 50px 20px;
    }

    #about h2{
        font-size: 42px;
    }

    .about-container{
        padding: 0;
        margin-top: 20px;
        text-align: center;
        max-width: 100%;
        width: 100%;
    }

    #about h3{
        font-size: 24px;
    }

    #about  label{
        font-size: 28px;
    }

    #about h4{
        justify-content: center;
        font-size: 24px;
        margin-top: 35px;
    }

    #about p{
        font-size: 16px;
        text-align: left;
        line-height: 1.8;
    }

    .resume-btn{
        position: static;
        display: inline-block;
        float: none;
        margin-top: 25px;
        padding: 12px 28px;
        font-size: 18px;
    }

    /* skill section  */

    #skills{
        padding: 50px 20px;

    }

    #skills h2{
        font-size: 42px;
    }

    .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .skill-card{
        width: 100%;
        margin: 0; 
        padding: 12px;
        border-radius: 10px;
    }

    .card-image{
        width: 70px;
        height: 70px;
    }

    .skill-card h3{
        font-size: 16px;
        margin-bottom: 10px;
        padding-bottom: 6px;
    }

    .skill-card li{
        font-size: 12px;
        gap: 8px;
        margin:8px 0;
        display: flex;
        align-items: flex-start;
        line-height: 1.4;
        margin: 7px 0;

    }


    .skill-card i{
        font-size: 13px;
        width: 16px;
        flex-shrink: 0;
        margin-top: 2px;
    }

    .skill-card:hover{
        transform: translateY(-2px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.10);
    }

    .tools il{
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .skills-grid{
        grid-template-columns: repeat(2, minmax(140px, 1fr));
    }



    /* Project Section */

    #projects{
        padding: 60px 20px;

    }

    #projects h2{
        font-size: 42px;
        text-align: center;
    }

    .project-item{
        flex-direction: column-reverse;
    }
    .project-item.reverse{
        flex-direction: column-reverse;
        
    }

    .project-image,
    .project-details{
        width: 100%;
        flex: 0 0 100%;
    }

    .project-image img{
        width: 100%;

        max-width: 500px;
        margin: 0 auto;
        display: block;
        height: auto;
        max-height: 500px;
        object-fit: contain;
    }

    .project-details{
        text-align: left;
    }

    .project-item h3{
        font-size: 28px;

    }

    .project-details h4{
        font-size: 20px;
    }

    .project-details li{
        font-size: 16px;

    }

    .tech-stack span{
        margin: 6px 4px;
    }

    .project-links{

        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .project-links a{
        width: 220px;
        margin: 0;
    }

    /* Certification section  */

    #certifications{
        padding-left: 25px;
        padding-right: 25px;
    }

    #certifications h2{
        font-size: 34px;
        text-align: center;
        margin-bottom: 35px;
    }

    .certification-item{
        padding-left: 15px;
        margin-bottom: 35px;
        border-left: 3px solid #1e3a5f;
    }

    .certification-item  h3{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .certification-item p{
        font-size:  14px;
        line-height: 1.7;
    }

    .cert-link{
        display: inline-block;
        margin-top: 12px;
        font-size: 15px;
    }

    /* Navbar section  */

    .menu-toggle{
        display: block !important;
        color: #fff;
        font-size: 28px;
        cursor: pointer;
    }

    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .logo{
        font-size: 24px;
    }

    .nav-links{
        display: none;
        position: fixed;
        top: 72px;
        left: 0;
        width: 100%;
        background: rgb(7, 32, 77);
        flex-direction: column;
        gap: 0;
        padding: 20px 0;
        z-index: 999;
    }

    .nav-links.active{
        display: flex;
    }

    .nav-links li{
        text-align: center;
        padding: 15px 0;
    }

    .nav-links a{
        font-size: 18px;
    }

    /* Contact dropdown section  */

    .contact-menu{
        width:100%;

    }

    #contactBtn{
        width: 100%;
        justify-content: center;
        padding: 15px 0;
    }

    .dropdown{
        position: static;
        display: none;
        width: 100%;
        box-shadow: none;
        border: none;
        border-radius: 0;
        background: #0b326f;
    }

    .dropdown.show{
        display: block;
    }

    .dropdown a{
        justify-content: center;
        color: white;
        border-top: 1px solid rgba(255, 255, 255, .1);
        padding: 14px;
    }

    .dropdown a:hover{
        background: #1e3a5f;
    }

    .dropdown i{
        color: white;
    }





}



@media (max-width:480px){


}




/* humburger */

.menu-toggle{
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}